@import url('https://fonts.googleapis.com/css2?family=Roboto&amp;display=swap');

html, body {
  width: 100%; 
  height: 100%;
  overflow: hidden;
  touch-action: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 35px;
  text-decoration: none;

  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  opacity: 0;
  transition: opacity 2s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#container {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
}

.icon {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}
  
a .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: inherit;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 15px;
}
  
a .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
  
a:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.icon:hover { transform: translateY(-10px) }
h1 { font-size: 45px; padding: 0; margin: 0 }
hr { max-width: 5%; color: inherit }
a { color: inherit; text-decoration: none }
#text { font-size: 20px; transition: all 0.3s ease }
#text:hover { color: #dee3de }
#particles-js{ height: 100%}